{% extends 'base.j2' %}

{% block title %}Cooper Dashboard{% endblock %}

{% block widgets %}

<li data-block-width="2" data-block-height="2" class="blue">
    <flaneur-twitter-users channel="recent_followers"></flaneur-twitter-users>
</li>

<li data-block-width="2" data-block-height="2" class="green">
    <cooper-journal-posts channel="blog_posts_last_month"></cooper-journal-posts>
</li>

<li data-block-width="2" data-block-height="2" class="red">
    <slack-messages channel="away"></slack-messages>
</li>

<li data-block-width="1" data-block-height="1" class="yellow">
    <flaneur-counter channel="designers_on_whitespace"></flaneur-counter>
</li>

<li data-block-width="3" data-block-height="2" class="red">
    <cooper-current-projects channel="current_projects"></cooper-current-projects>
</li>

<li data-block-width="2" data-block-height="2" class="blue">
    <flaneur-tweets channel="most_retweeted"></flaneur-tweets>
</li>

<li data-block-width="2" data-block-height="2" class="red">
    <flaneur-tweets channel="recent_cooper_tweets"></flaneur-tweets>
</li>

<li data-block-width="2" data-block-height="2" class="green">
    <flaneur-tweets channel="recent_cooperista_tweets"></flaneur-tweets>
</li>

<li data-block-width="2" data-block-height="2" class="yellow">
    <flaneur-tweets channel="recent_cooper_mentions"></flaneur-tweets>
</li>

<li data-block-width="2" data-block-height="1" class="green">
    <flaneur-link channel="most_commented_blog_post"></flaneur-link>
</li>

{% endblock %}