{% extends 'base.j2' %}

{% block title %}A Simple Example{% endblock %}

{% block widgets %}

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <flaneur-clock></flaneur-clock>
</li>
<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <flaneur-counter channel="last_blog_post"></flaneur-counter>
</li>
<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <flaneur-title channel="most_commented_blog_post"></flaneur-title>
</li>

{% endblock %}