{% extends 'base.j2' %}

{% block title %}A Simple Example{% endblock %}

{% block widgets %}

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="blue">
    <flaneur-clock></flaneur-counter>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="red">
    <flaneur-counter channel="counter"></flaneur-counter>
</li>

{% endblock %}