{% extends 'base.gridster.j2' %}

{% block title %}A Gridster Example{% endblock %}

{% block widgets %}
<li data-sizex="2" data-sizey="2" data-col="1" data-row="1" class="blue">1</li>
<li data-sizex="1" data-sizey="1" data-col="3" data-row="1" class="light-gray">2</li>
<li data-sizex="1" data-sizey="1" data-col="3" data-row="2" class="gray">3</li>
<li data-sizex="3" data-sizey="2" data-col="4" data-row="1" class="red">4</li>
<li data-sizex="1" data-sizey="2" data-col="1" data-row="3" class="dark-blue">5</li>
<li data-sizex="1" data-sizey="1" data-col="2" data-row="3" class="gray">6</li>
<li data-sizex="1" data-sizey="1" data-col="2" data-row="4" class="light-gray">7</li>
<li data-sizex="2" data-sizey="1" data-col="3" data-row="3" class="dark-blue">8</li>
<li data-sizex="1" data-sizey="1" data-col="3" data-row="4" class="gray">9</li>
<li data-sizex="1" data-sizey="1" data-col="4" data-row="4" class="light-gray">10</li>
<li data-sizex="1" data-sizey="1" data-col="5" data-row="3" class="gray">11</li>
<li data-sizex="2" data-sizey="1" data-col="5" data-row="4" class="dark-blue">12</li>
<li data-sizex="1" data-sizey="1" data-col="6" data-row="3" class="light-gray">13</li>
{% endblock %}