flaneur-twitter-users ul
{
    list-style: none;
    display: inline-block;
    max-height: 260px;
    overflow-y: auto;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}

flaneur-twitter-users li
{
    text-align: left;
    padding: 0.5em;
}

flaneur-twitter-users .image
{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 1em;
}

flaneur-twitter-users .description h1
{
    font-size: 1.4em;
    margin: 0;
}

flaneur-twitter-users .description h2
{
    font-size: 1em;
    margin: 0;
}

flaneur-twitter-users .description a
{
    color: #2C97DE;
}