<h1>{{ title }}</h1>
<ul>
    <li ng-repeat="tweet in tweets">
        <h2 class="author">{{ tweet.user.name }}</h2>
        <div class="meta">
            <span class="date">{{ tweet.created_at | twitterDate }}</span>
            <span class="retweets" ng-if="tweet.retweet_count">
                |
                <ng-pluralize count="tweet.retweet_count"
                              when="{'one': '1 retweet', 'other': '{} retweets'}">
                              </ng-pluralize>
            </span>
        </div>
        <div class="text" ng-bind-html="tweet.text | linky:'_blank'"></div>
    </li>
</ul>