flaneur-list ul
{
    list-style: none;
    display: inline-block;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    color: #333;
    padding: 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

flaneur-list ul li
{
    text-align: left;
    margin: 0.5em 0;
}