<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <div ng-app="flaneur">
        <ul class="widgets">
            {% block widgets %}{% endblock %}
        </ul>
    </div>
    <script>INITIAL_CHANNEL_DATA = {{ channel_data | tojson }}</script>
    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/templates.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>