cooper-current-projects .item .number
{
    background-color: #fff;
    color: #C8393E;
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 3px;
}