html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
    background-color: #fff;
    color: #fff;
}

h1
{
    font-weight: normal;
    font-size: 1.7em;
}

h2
{
    font-weight: normal;
    font-size: 1.5em;
}

a
{
    color: #efefef;
    text-decoration: none;
}

.gridster
{
    list-style: none;
    padding: 0;
}

.gridster > ul > li
{
    display: table;
}

.gridster > ul > li > *
{
    padding: 25px 12px;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

body .gridster .preview-holder
{
    background-color: #888;
}

.blue
{
    background-color: #2C97DE;
}

.dark-blue
{
    background-color: #33485F;
}

.red
{
    background-color: #DA4453;
}

.gray
{
    background-color: #555;
}

.light-gray
{
    background-color: #ccc;
}