.qbert
{
    position: relative;
    margin: 0 auto;
}

.qbert > li
{
    box-sizing: border-box;
    position: absolute;
    display: block;
    padding: 25px 12px;
    display: table;
}

.qbert > li > *
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}